.card-actions{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.43);
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.card-action-button{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1f1ff3;
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.card-action-button-2{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #8d0e0e;
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
