.card-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #8d0e0e;
  color: #1f1ff3;
  font-size: 1.2em;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
